<div class="wrapper">
  <h1>Массив {{title}}</h1>
  <div class="array-wrapper">
    <input class="array-holder" [value]="Array.join(', ')" [placeholder]='"Массив " + title'>
    <button (click)="generateNewArray()">Обновить</button>
    <label>Минимальное значение:</label>
    <input type="text" [(ngModel)]="min">
    <label>Максимальное значение:</label>
    <input type="text" [(ngModel)]="max">
    <label>Размер массива:</label>
    <input type="text" [(ngModel)]="count">
    <input type="checkbox" [(ngModel)]="isUniqueValues">
    <label>Уникальные значения</label>
  </div>
</div>
